<div id="wrapper">
  <img [src]="succlent" alt="" class="ml-[1044px] mt-[66px] relative z-20">
  <div class="ml-[119px] -mt-[72px] w-[1203px] h-[441px] bg-[#fff] drop-shadow-lg relative z-10" id="list-container">
    <div class="flex w-[874px] ml-[142px] border-b-[0.7px] border-[#D2D2D2] pb-[46.5px]" id="list-container_coupleOne">
      <div class="flex -ml-[142px]">
        <div class=" mt-[70px] ml-[62px]  w-[91px] h-[90px] bg-[#F1E8FF] px-[25px] py-[25px] rounded-[20px]">
          <img [src]="mobile" alt="">
        </div>
        <div class="mt-16 ml-[39px]">
          <h1 class="font-poppins font-medium text-[25px] leading-[178%] tracking-[1%]">Mobile Applications</h1>
          <p class="w-[323px] font-poppins font-regular text-[16px] text-[#797979] text-left leading-[178%] tracking-[1%]">The simplest but robust technology to accompany with you</p>
        </div>
        <div class="">
          <div class=" w-[170px] border-b-[0.7px] border-[#D2D2D2] rotate-90 mt-[126px] -ml-[50px]">

          </div>
        </div>
      </div>
      <div class="flex">
        <div class=" mt-[70px] -ml-[27px]  w-[91px] h-[90px] bg-[#FFF2F2] px-[25px] py-[25px] rounded-[20px]">
          <img [src]="apps" alt="">
        </div>
        <div class="mt-16 ml-[39px]">
          <h1 class="font-poppins font-medium text-[25px] leading-[178%] tracking-[1%]">Web Application</h1>
          <p class="w-[323px] font-poppins font-regular text-[16px] text-[#797979] text-left leading-[178%] tracking-[1%]">Platform independant business solutions for maximum availability</p>
        </div>
      </div>
    </div>
    <div class="flex" id="list-container_coupleTwo">
      <div class="flex ">
        <div class="flex mt-[80px] ml-[62px] w-[91px] h-[90px] bg-[#E2F3FF] px-[25px] py-[25px] rounded-[20px]">
          <img [src]="rocket" alt="">
        </div>
        <div class="mt-16 ml-[39px]">
          <h1 class="font-poppins font-medium text-[25px] leading-[178%] tracking-[1%]">SEO</h1>
          <p class="w-[283px] font-poppins font-regular text-[16px] text-[#797979] text-left leading-[178%] tracking-[1%]">Let the world find you on top of others</p>
        </div>
        <div class="">
          <div class=" w-[190px] border-b-[0.7px] border-[#D2D2D2] rotate-90 mt-[94px] -ml-[20px]">

          </div>
        </div>
      </div>
      <div class="flex">
        <div class=" mt-[76px] -ml-[27px]  w-[91px] h-[90px] bg-[#FFE7FB] px-[29px] py-[29px] rounded-[20px]">
          <img [src]="vr" alt="">
        </div>
        <div class="mt-16 ml-[39px]">
          <h1 class="font-poppins font-medium text-[25px] leading-[178%] tracking-[1%]">AR/VR Solutions</h1>
          <p class="w-[386px] font-poppins font-regular text-[16px] text-[#797979] text-left leading-[178%] tracking-[1%]">Advanced autonomous technologies to make life simple</p>
        </div>
      </div>
    </div>
  </div>
</div>
