<div id="wrapper">
  <div id="ourServices-container">
    <div id="ourServices-container_info">
      <div class="relative w-full h-[745px] bg-[#1090CB] bg-opacity-10 flex justify-center items-start" id="ourServices-container_info-image">
        <div class="absolute mt-[78px] w-[135px] h-[135px] bg-[#fff] bg-fixed px-[32px] py-[32px] rounded-full" id="image-container">
          <img [src]="speaker" alt="">
        </div>
      </div>
      <div class="-mt-[522px] ml-[595px]" id="ourServices-container_info-text">
        <h1 class="font-poppins font-medium text-[40px] text-[#000]">Our <span class="font-semibold text-[#1090CB]">Services</span></h1>
        <p class="-ml-[100px]  w-[440px] h-auto font-poppins font-regular text-lg text[#696969] text-center leading-[175%]"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
      </div>
    </div>
  </div>
</div>
