<div class="" id="wrapper">
  <div class="border-b-2 border-[#c4c4c4] w-full ml-0 pl-[167px] pb-[40px]" id="nav">
    <div class="mt-[31px] uppercase font-poppins font-bold text-[29px] text-[#1090CB]" id="nav-logo">
      <h1 class="cursor-pointer -ml-[139px]"><a routerLink="/" routerLinkActive="active">logo</a></h1>
    </div>
    <div class="">
      <ul class="flex ml-[500px] -mt-[45px] pt-2.5 pb-2.5" id="nav-list">
        <li class=" font-poppins font-regular text-[16px] text-[#1090CB] -mt-[8px] cursor-pointer"><div class="w-2 h-2 rounded-full bg-[#08D3BB] -ml-[8px] "></div><a routerLink="/" routerLinkActive="active" (click)="toggleActivePage()">Home</a></li>
        <li class=" font-poppins font-regular text-[16px] text-[#000] cursor-pointer ml-[93px] w-[120px]" ><a routerLink="/about-us" routerLinkActive="active" (click)="toggleActivePage()">About us</a></li>
        <li class=" font-poppins font-regular text-[16px] text-[#000] cursor-pointer ml-[35px]"><a routerLink="/services" routerLinkActive="active" (click)="toggleActivePage()">Services</a></li>
        <li class=" font-poppins font-regular text-[16px] text-[#000] cursor-pointer ml-[83px]"><a routerLink="/blog" routerLinkActive="active" (click)="toggleActivePage()">Blog</a></li>
        <button class="w-[125px] h-[41px] bg-[#1090CB] text-center rounded-md ml-[155px] -mt-[10px] text-[#fff] cursor-pointer"><a routerLink="/contact-us" routerLinkActive="active" (click)="toggleActivePage()">Contact us</a></button>
      </ul>
    </div>
  </div>
</div>
