<div class="" id="wrapper">
  <div class="" id="dummy-text">
    <h1 class="font-poppins font-semibold text-[33px] text-[#252525] leading-[160%] mt-[115px] ml-[297px]">Lorem Ipsum is simply dummy text of the printing.</h1>
    <p class=" w-[692px] font-poppins font-regular text-[18px] text-center text-[#868686] leading-[175%] mt-[32px] ml-[374px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
  </div>
  <div>
    <img [src]="road" alt="" class="ml-[100px] pt-[500px] relative z-0">
  </div>
  <div class="-mt-[545px]" id="dummy-road">
    <div class="block w-[58px] h-[58px] bg-[#08D3BB] rounded-full p-4 -mt-[1350px] ml-[150px] relative z-10" id="turquoise">
      <img [src]="smile" alt="" class="absolute z-20">
      <h1 class="font-poppins font-medium text-[17px] leading-[175%] w-[308px] -mt-[40px] ml-20">Lorem Ipsum is simply dummy text</h1>
      <p class="font-poppins font-regular text-[14px] text-[#868686] leading-[175%] w-[308px] ml-20">Lorem Ipsum is simply dummy text</p>
      <div class="" id="turquoise-content">
        <h1 class="font-poppins font-semibold text-3xl leading-[175%] w-[516px] -ml-3 mt-11" id="turquoise-content_title"><span class="text-[#1090CB]">Lorem Ipsum</span> is simply dummy text of the printing.</h1>
        <p class="font-poppins font-regular text-lg text-[#545454] text-[16px] leading-[170%] w-[476px] -ml-3 mt-14" id="turquoise-content_desc">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
        <div class="w-[738px] h-[511px]">
          <img [src]="activites" alt="" class="ml-[580px] -mt-[530px] -z-10">
        </div>
      </div>
    </div>
    <div class="block w-[58px] h-[58px] bg-[#1090CB] rounded-full p-4 ml-[860px] mt-[700px] relative z-10" id="blue">
      <img [src]="smile" alt="" class="absolute z-20">
      <h1 class="font-poppins font-medium text-[17px] leading-[175%] w-[308px] -mt-[40px] ml-20">Lorem Ipsum is simply dummy text</h1>
      <p class="font-poppins font-regular text-[14px] text-[#868686] leading-[175%] w-[308px] ml-20">Lorem Ipsum is simply dummy text</p>
      <div class="" id="blue-content">
        <h1 class="font-poppins font-semibold text-3xl leading-[175%] w-[516px] -ml-3 mt-11" id="blue-content_title"><span class="text-[#1090CB]">Lorem Ipsum</span> is simply dummy text of the printing.</h1>
        <p class="font-poppins font-regular text-lg text-[#545454] text-[16px] leading-[170%] w-[476px] -ml-3 mt-14" id="blue-content_desc">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
        <div class="w-[738px] h-[511px]">
          <img [src]="website" alt="" class="-ml-[900px] -mt-[570px]">
        </div>
      </div>
      <div class="block w-[58px] h-[58px] bg-[#9208D3] rounded-full p-4 mt-[230px] -ml-[720px] relative z-10" id="purple">
        <img [src]="smile" alt="" class="absolute z-20">
        <h1 class="font-poppins font-medium text-[17px] leading-[175%] w-[308px] -mt-[40px] ml-20">Lorem Ipsum is simply dummy text</h1>
        <p class="font-poppins font-regular text-[14px] text-[#868686] leading-[175%] w-[308px] ml-20">Lorem Ipsum is simply dummy text</p>
        <div class="" id="purple-content">
          <h1 class="font-poppins font-semibold text-3xl leading-[175%] w-[516px] -ml-3 mt-11" id="purple-content_title"><span class="text-[#1090CB]">Lorem Ipsum</span> is simply dummy text of the printing.</h1>
          <p class="font-poppins font-regular text-lg text-[#545454] text-[16px] leading-[170%] w-[476px] -ml-3 mt-14" id="purple-content_desc">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
          <div class="w-[738px] h-[511px]">
            <img [src]="focus" alt="" class="ml-[575px] -mt-[510px]">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
