<div class="" id="wrapper">
  <div class="flex mt-[1104px] ml-40" id="block-container">
    <div class="w-[572px] h-[459px] bg-[#F4F4F4] rounded-[20px]" id="gray-block">
      <h1 class="w-[365px] pt-[55px] ml-[104px] font-poppins font-semibold text-[25px] text-center text-[#252525] leading-[175%]">{{ title }}</h1>
      <p class="w-[476px] pt-9 ml-12 font-poppins font-regular text-[16px] text-center text-[#545454] leading-[170%]">{{ description }}</p>
      <div class="ml-[209px] pt-9">
        <app-button-blue-small>View More</app-button-blue-small>
      </div>
    </div>
    <div class="w-[572px] h-[459px] ml-[50px] bg-[#1090CB] rounded-[20px]" id="blue-block">
      <img [src]="bell" alt="" class="-mt-[90px] ml-[411px]">
      <h1 class="w-[365px] -mt-[15px] ml-[104px] font-poppins font-semibold text-[25px] text-center text-[#fff] leading-[175%]">{{ title }}</h1>
      <p class="w-[476px] mt-9 ml-12 font-poppins font-regular text-[16px] text-center text-[#fff] leading-[170%]">{{ description }}</p>
      <div class="ml-[209px] pt-9">
        <app-button-white-small>View More</app-button-white-small>
      </div>
    </div>
  </div>
</div>
