<div id="wrapper">
  <div class="mt-[109px] ml-[119px] h-auto" id="simplyDummy-container">
    <div class="flex" id="simplyDummy-container_content">
      <div class="" id="simplyDummy-container_content-text">
        <h1 class="w-[516px] font-poppins font-semibold text-3xl text-[#252525] leading-[170%] "><span class="text-[#1090CB]">Lorem Ipsum</span> is simply dummy text of the printing. </h1>
        <p class="w-[476px] pt-[56px] font-poppins font-regular text-[16px] text-[#545454] leading-[180%]">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
        <p class="w-[476px] pt-[36px] font-poppins font-regular text-[16px] text-[#545454] leading-[180%]">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens</p>
        <div class="mt-[76px]">
          <app-button-with-border>Contact us</app-button-with-border>
        </div>
      </div>
      <div class="mt-[10px]" id="simplyDummy-container_content-image">
        <img [src]="product" alt="">
      </div>
    </div>
  </div>
</div>
