<div class="" id="wrapper">
  <div class="" id="hero">
    <div class="w-[630px] h-[193px] " id="hero-content">
      <h1 class="w-[630px] h-[193px] font-poppins font-semibold text-[40px] ml-[113px] mt-[123px]" id="hero-content_title">
        Experienced <span class="text-[#1090CB]">mobile and web</span> applications and website builders measuring.
      </h1>
      <p class="w-[631px] h-[125px] font-poppins font-regular text-[16px] text-[#5C5C5C] ml-[113px] mt-[36px] leading-[204.3%]" id="hero-content_desc">
        KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS.
      </p>
      <div class="mt-[65px]">
        <app-button-blue class="ml-[113px]">Contact Us</app-button-blue>
        <app-button-white class="ml-[15px]">View more</app-button-white>
      </div>
    </div>
    <div class="" id="hero-image">

    </div>
  </div>
</div>
