<div class="ml-[165px] mr-[150px]" id="wrapper">
  <div class="border-b-2 border-[#c4c4c4] w-[1920px] -ml-[167px] pl-[167px]" id="nav">
    <div class="mt-[31px] uppercase font-[poppins] font-bold text-[29px] text-[#1090CB]" id="nav-logo">
      <h1 class="cursor-pointer">logo</h1>
    </div>
    <div class="">
      <ul class="flex ml-[664px] -mt-[31px]" id="nav-list">
        <li class="ml-[107px] font-[poppins] font-regular text-[16px] text-[#1090CB] -mt-[8px] cursor-pointer"><div class="w-2 h-2 rounded-full bg-[#08D3BB] -ml-[8px] "></div>Home</li>
        <li class="ml-[107px] font-[poppins] font-regular text-[16px] text-[#000] cursor-pointer">About us</li>
        <li class="ml-[107px] font-[poppins] font-regular text-[16px] text-[#000] cursor-pointer">Services</li>
        <li class="ml-[107px] font-[poppins] font-regular text-[16px] text-[#000] cursor-pointer">Blog</li>
      </ul>
    </div>
    <div class="w-[125px] h-[41px] bg-[#1090CB] text-center rounded-md ml-[1450px] -mt-[33px]" id="nav-button">
      <button class="w-[125px] h-[41px] cursor-pointer text-[#fff]">Contact us</button>
    </div>
  </div>
</div>
