<div id="wrapper">
  <div class="overflow-hidden w-full h-[1500px]" id="simplyDummy-container">
      <img [src]="turquoise" alt="" class="rotate-[245deg] ml-[1250px] -mt-[250px]">
      <img [src]="blue" alt="" class="-ml-[422px] mt-[262px]">
      <img [src]="handle" alt="" class="ml-[386px] -mt-[950px]">
      <img [src]="presentation" alt="" class="ml-[90px] -mt-[260px]">
      <img [src]="group" alt="" class="ml-[163px] mt-[60px]">
      <img [src]="duo" alt="" class="ml-[735px] -mt-[350px]">
      <img [src]="dots" alt="" class="ml-[975px] -mt-[220px] relative -z-10">
    <div class="ml-[743px] -mt-[800px]" id="simplyDummy-container_text">
      <h3 class="font-poppins font-regular text-[25px] text-[#1090CB]">About us</h3>
      <h1 class="font-poppins font-semibold text-[40px] text-[#252525] w-[565px] mt-[19px]">Lorem Ipsum is simply dummy text of the printing. </h1>
      <p class="font-poppins font-regular text-lg text-[#868686] leading-[175%] w-[463px] mt-[37px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
    </div>
  </div>
</div>
