<div id="wrapper">
  <div class="mt-[26px]" id="statistic-container">
    <img [src]="line" alt="" class="absolute ml-[130px] -mt-[100px]">
    <img [src]="line" alt="" class="absolute ml-[1018px] rotate-[230deg] -mt-[135px]">
    <img [src]="line" alt="" class="absolute ml-5 rotate-[90deg] mt-[220px]">
    <img [src]="bell" alt="" class="absolute ml-[1100px] -mt-[80px]">
    <img [src]="succlent" alt="" class="absolute ml-[321px] rotate-[300deg] mt-[350px]">
    <div class="flex mt-[161px] w-full bg-[#1090CB] pt-[129px] pb-[139px] pl-[178px] pr-[178px]" id="statistic-container-content">
        <div class="-ml-[30px]" id="statistic-container-content_happyClients">
          <h1 class="font-poppins font-semibold text-[65px] text-[#fff] leading-[178%] tracking-[1%] pl-[45px]">6</h1>
          <p class="w-[141px] font-poppins font-regular text-[16px] text-center text-[#fff] leading-[178%] tracking-[1%]">Happy Clients</p>
        </div>
        <div class="ml-[160px]" id="statistic-container-content_completedProjects">
          <h1 class="font-poppins font-semibold text-[65px] text-[#fff] leading-[178%] tracking-[1%] pl-[62px]">11</h1>
          <p class="w-[161px] font-poppins font-regular text-[16px] text-center text-[#fff] leading-[178%] tracking-[1%]">Completed Projects</p>
        </div>
        <div class="ml-[160px]" id="statistic-container-content_transsactions">
          <h1 class="font-poppins font-semibold text-[65px] text-[#fff] leading-[178%] tracking-[1%] -pl-[20px]">7M</h1>
          <p class="font-poppins font-regular text-[16px] text-center text-[#fff] leading-[178%] tracking-[1%]">Transsactions</p>
        </div>
        <div class="ml-[160px]" id="statistic-container-content_customers">
          <h1 class="font-poppins font-semibold text-[65px] text-[#fff] leading-[178%] tracking-[1%] pl-[36px]">6000+</h1>
          <p class="font-poppins font-regular text-[16px] text-center text-[#fff] leading-[178%] tracking-[1%]">Customers</p>
        </div>
    </div>
  </div>
</div>
