<div id="wrapper">
  <div id="collaborate-container">
    <div id="collaborate-container_info">
      <div id="collaborate-container_info-text">
        <div id="w-[77[x] h-[77px]">
          <img [src]="avatar" alt="" class="bg-[#F5F3DA] rounded-full px-[10px] py-[10px] mt-[133px] ml-[133px]">
        </div>
        <h1 class="mt-4 ml-[133px] w-[386px] font-poppins font-semibold text-[45px] leading-[170%]">Let’s Collaborate</h1>
        <p class="mt-[15px] ml-[133px] w-[437px] font-poppins font-regular text-[20px] text-[#777777] leading-[170%]">Lorem Ipsum is simply dummy text of the printing .</p>
      </div>
      <div id="collaborate-container_info-image">
        <img [src]="world" alt="" class="ml-[698px] -mt-[300px]">
      </div>
    </div>
    <div class="mt-[64px] flex" id="collaborate-container_contact">
      <div class="border-r-[1px] border-[#C2C2C2] h-[133px] flex pt-[20px]  mr-[1034px] pb-[50px] pr-[98px]" id="collaborate-container_contact-info_followUs">
        <div class="ml-[133px]">
          <h1 class="font-poppins font-regular text-[16px] leading-[190%]">Follow us</h1>
          <div class="flex mt-[18px]">
            <div class="w-[34px] h-[34px] bg-[#fff] rounded-full shadow-lg flex items-center justify-center">
              <img [src]="facebook" alt="Facebook" class="w-[12px] h-[12px]">
            </div>
            <div class="w-[34px] h-[34px] bg-[#fff] rounded-full shadow-lg flex items-center justify-center ml-4">
              <img [src]="instagram" alt="Instagram" class="w-[13px] h-[13px]">
            </div>
            <div class="w-[34px] h-[34px] bg-[#fff] rounded-full shadow-lg flex items-center justify-center ml-4">
              <img [src]="twitter" alt="Twitter" class="w-[13px] h-[13px]">
            </div>
            <div class="w-[34px] h-[34px] bg-[#fff] rounded-full shadow-lg flex items-center justify-center ml-4">
              <img [src]="linkedIn" alt="LinkedIn" class="w-[13px] h-[13px]">
            </div>
          </div>
        </div>
      </div>
      <div class=" border-r-[1px] border-[#C2C2C2] h-[133px] pt-[20px] -ml-[1034px] pb-[50px] pr-[98px]" id="collaborate-container_contact-info_numberPhone">
        <div class="flex ml-[133px] mt-[17px]">
          <img [src]="phone" alt="" class="mr-[25px]">
          <h1 class="font-poppins font-light text-[20px] text-[#333333]">+94 4444 5555 6</h1>
          </div>
        </div>
      <div class="" id="collaborate-container_contact-info_place">
        <div class="flex ml-[133px] mt-[17px]">
          <img [src]="gps" alt="" class="mr-[25px] -mt-[20px]">
          <h1 class="w-[325px] font-poppins font-light text-[20px] text-[#333333]">but also the leap into electronic
            typesetting</h1>
        </div>
      </div>
    </div>
  </div>
</div>
