<div id="wrapper">
  <div class="mt-[178px] h-[600px] bg-[#E7E7E7] bg-opacity-10 pt-[20px]" id="offers">
    <div class="" id="offers-text">
      <div class="w-[54px] h-[5px] bg-[#4628A4] ml-[130px]"></div>
      <h1 class="ml-[130px] font-poppins font-semibold text-[30px] leading-[160%] mt-[28px] w-[499px]">Lorem Ipsum is simply dummy text of the printing. </h1>
      <p class="ml-[130px] font-poppins font-regular text-[30px] text-[#585858] leading-[160%] mt-[31px] w-[487px]">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects.</p>
      <div class="ml-[130px] mt-[62px]">
        <app-button-with-border>Contact us</app-button-with-border>
      </div>
    </div>
    <div class="w-[767px] h-[398px] ml-[900px] -mt-[450px] bg-[#fff] shadow-lg" id="offers-image">
      <div class="flex" id="offers-image-coupleOne">
        <div class="flex w-[332px] h-[90px]">
          <div class="w-[91px] h-[90px] ml-[61px] mt-[65px] bg-[#FFF2F2] px-[25px] py-[25px] rounded-[20px]">
            <img [src]="apps" alt="">
            <h1 class="ml-[94px] -mt-[44px] w-[212px] font-poppins font-medium text-[25px] text-[#2E0D64] leading-[178%]">Web Application</h1>
          </div>
        </div>
        <div class="flex w-[332px] h-[90px]">
          <div class="w-[91px] h-[90px] ml-[145px] mt-[65px] bg-[#E2F3FF] px-[25px] py-[25px] rounded-[20px]">
            <img [src]="rocket" alt="">
            <h1 class="ml-[94px] -mt-[44px] w-[212px] font-poppins font-medium text-[25px] text-[#2E0D64] leading-[178%]">SEO</h1>
          </div>
        </div>
      </div>
      <div class="flex" id="offers-image-coupleTwo">
        <div class="flex w-[332px] h-[90px]">
          <div class="w-[91px] h-[90px] ml-[61px] mt-[110px] bg-[#F1E8FF] px-[25px] py-[25px] rounded-[20px]">
            <img [src]="mobile" alt="">
            <h1 class="w-[253px] ml-[94px] -mt-[44px] font-poppins font-medium text-[25px] text-[#2E0D64] leading-[178%]">Mobile Applications</h1>
          </div>
        </div>
        <div class="flex w-[332px] h-[90px]">
          <div class="w-[91px] h-[90px] ml-[145px] mt-[110px] bg-[#FFE7FB] px-[25px] py-[25px] rounded-[20px]">
            <img [src]="cloud" alt="">
            <h1 class="ml-[94px] -mt-[44px] w-[212px] font-poppins font-medium text-[25px] text-[#2E0D64] leading-[178%]">AR/VR</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
