<div class="" id="wrapper">
  <div class="border-b-2 border-[#c4c4c4] w-[1440px] pb-[43px]">
    <div class="flex mt-[43px] ml-[0]" id="offers">
      <div class="flex ml-[123px]" id="offers-web">
        <div class="w-[83px] h-[83px] bg-[#EFEAFF] rounded-[20px]" id="offers-web_img">
          <img [src]="webSite" alt="" class="p-5">
        </div>
        <div class="ml-4" id="offers-web_text">
          <h1 class="font-poppins font-medium text-[20px] text-[#000] leading-[175%] mt-1">Web Application</h1>
          <p class="font-poppins font-regular text-[15px] text-[#969696] leading-[175%] mt-1">Lorem Ipsum is simply</p>
        </div>
      </div>
      <div class="flex ml-8" id="offers-seo">
        <div class="w-[83px] h-[83px] bg-[#ECFFDA] rounded-[20px]" id="offers-seo_img">
          <img [src]="seo" alt="" class="p-6">
        </div>
        <div class="ml-4" id="offers-seo_text">
          <h1 class="font-poppins font-medium text-[20px] text-[#000] leading-[175%] mt-1">SEO</h1>
          <p class="font-poppins font-regular text-[15px] text-[#969696] leading-[175%] mt-1">Lorem Ipsum is simply</p>
        </div>
      </div>
      <div class="flex ml-8" id="offers-vr">
        <div class="w-[83px] h-[83px] bg-[#DAE6FF] rounded-[20px]" id="offers-vr_img">
          <img [src]="vr" alt="" class="p-6">
        </div>
        <div class="ml-4" id="offers-vr_text">
          <h1 class="font-poppins font-medium text-[20px] text-[#000] leading-[175%] mt-1">AR/VR Solutions</h1>
          <p class="font-poppins font-regular text-[15px] text-[#969696] leading-[175%] mt-1">Lorem Ipsum is simply</p>
        </div>
      </div>
      <div class="flex ml-8" id="offers-mobile">
        <div class="w-[83px] h-[83px] bg-[#FFE5DA] rounded-[20px]" id="offers-mobile_img">
          <img [src]="mobile" alt="" class="p-6 pl-8">
        </div>
        <div class="ml-4" id="offers-mobile_text">
          <h1 class="font-poppins font-medium text-[20px] text-[#000] leading-[175%] mt-1">Mobile Applications</h1>
          <p class="font-poppins font-regular text-[15px] text-[#969696] leading-[175%] mt-1">Lorem Ipsum is simply</p>
        </div>
      </div>
    </div>
  </div>
</div>
