<div id="wrapper">
  <div class="mt-[108px] ml-[125px] flex" id="info-container">
    <div id="info-container_image">
      <img [src]="notebook" alt="">
    </div>
    <div class="ml-[60px]" id="info-container_text">
      <h1 class="font-poppins font-semibold text-[27px] leading-[178%] tracking-[1%] mt-[17px]">Lorem Ipsum is simply dummy text of the printing.</h1>
      <p class="w-[525px] font-poppins font-regular text-[16px] text-[#424242] leading-[211%] tracking-[1%] mt-[33px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the .</p>
      <div class="mt-[17px] flex">
        <img [src]="avatar" alt="" class="mt-5">
        <div class="ml-[21px]">
          <h1 class="font-poppins font-medium text-[18px] text-[#000] leading-[211%] tracking-[1%] mt-[17px]">Name here</h1>
          <p class="w-[525px] font-poppins font-regular text-[14px] text-[#B7B7B] leading-[211%] tracking-[1%] -mt-[10px]">20.12.2020</p>
        </div>
        <button class="mt-[33px] font-poppins font-regular text-[14px] text-[#1090CB] leading-[178%] tracking-[1%]">Read More</button>
      </div>
    </div>
  </div>
</div>
