<div id="wrapper">
  <div class="-mt-[290px]" id="text">
    <h1 class="w-[807px] font-poppins font-semibold text-[45px] text-[#1090CB] leading-[160%] ml-[123px]">Lorem Ipsum is simply dummy text of the printing. </h1>
    <p CLASS="w-[1014px] font-poppins font-regular text-[20px] text-[#585858] leading-[200%] mt-[48px] ml-[123px]">KODEX TECHNOLOGY (PVT) LTD is a team of experienced mobile and web applications and website builders measuring dozens of completed projects. We build and develop mobile applications for several top platforms, including Android  & IOS. We build and develop mobile applications for several top platforms, including Android  & IOS. </p>
  </div>
</div>
