<div id="wrapper">
  <div class="flex mt-[87px] border-b-2 border-[#c4c4c4] w-full pb-[120px]" id="footer-container">
    <div class="" id="footer-container_logo">
      <h1 class="font-poppins font-bold text-[16px] text-[#00329B] uppercase ml-[101px] mt-[82px]">logo</h1>
      <p class="font-poppins font-regular text-[16px] text-[#515151] w-[372px] ml-[101px] mt-[27px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <h2 class="font-poppins font-regular text-[16px] text-[#515151] w-[372px] ml-[101px] mt-[25px]">&#64;Lorem</h2>
    </div>
    <div class="ml-[78px]" id="footer-container_aboutus">
      <h1 class="font-poppins font-medium text-[17px] text-[#000] mt-[87px]">About us</h1>
      <p class="font-poppins font-regular text-[16px] text-[#515151] leading-[186%]">Lorem</p>
      <p class="font-poppins font-regular text-[16px] text-[#515151] leading-[186%]">Portfolio</p>
      <p class="font-poppins font-regular text-[16px] text-[#515151] leading-[186%]">Careers</p>
      <p class="font-poppins font-regular text-[16px] text-[#515151] leading-[186%]">Contact us</p>
    </div>
    <div class="ml-[144px]" id="footer-container_contactus">
      <h1 class="font-poppins font-medium text-[17px] text-[#000] mt-[87px]">Contact us</h1>
      <p class="font-poppins font-regular text-[16px] text-[#515151] w-[282px] mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <p class="font-poppins font-regular text-[16px] text-[#515151] w-[282px] mt-[11px]">+908 89097 890</p>
    </div>
    <div class="flex ml-[83px] mt-[204px]" id="footer-container_socials">
      <div class="w-[34px] h-[34px] px-[11px] py-[11px] bg-[#fff] rounded-full shadow-lg ">
        <img [src]="facebook" alt="" class="w-[12px] h-[12px]">
      </div>
      <div class="w-[34px] h-[34px] px-[11px] py-[11px] bg-[#fff] rounded-full shadow-lg ml-4">
        <img [src]="instagram" alt="" class="w-[13px] h-[13px]">
      </div>
      <div class="w-[34px] h-[34px] px-[11px] py-[11px] bg-[#fff] rounded-full shadow-lg ml-4">
        <img [src]="twitter" alt="" class="">
      </div>
      <div class="w-[34px] h-[34px] px-[11px] py-[11px] bg-[#fff] rounded-full shadow-lg ml-4">
        <img [src]="linkedIn" alt="" class="">
      </div>
    </div>
  </div>
  <div class="mt-[29px] mb-[27px] text-center" id="copyright">
    <h1 class="font-poppins font-regular text-[13px] text-[#686868] leading-[190%]">Copyright ® 2021 Lorem All rights Rcerved</h1>
  </div>
</div>
